@font-face {
    font-family: HenriDidot;
    src: url(/blog_private/style/HenriDidot.otf) format("opentype");
}

@media (min-width: 1440px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .title.title-md {
        font-size: 4rem;
    }
}

@media (min-width: 992px) {
    .title.title-lg {
        font-size: 8rem;
    }
}

@media (min-width: 768px) {
    .newsbox.newsbox-md {
        height: auto;
    }
}

@media (min-width: 992px) {
    .newsbox.newsbox-lg {
        height: auto;
    }
}

body {
    background-color: #9cb2c7;
}

.wideContainer {
    position: relative;
}

.pauseBox {
    height: auto;
}

svg#freepik_stories-people-celebrating-oktoberfest:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-people-celebrating-oktoberfest.animated #freepik--background-simple--inject-66 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-people-celebrating-oktoberfest.animated #freepik--character-3--inject-66 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-people-celebrating-oktoberfest.animated #freepik--character-2--inject-66 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-people-celebrating-oktoberfest.animated #freepik--character-1--inject-66 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-people-celebrating-oktoberfest.animated #freepik--Pennants--inject-66 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animator-hidden {
    display: none;
}

h1.title {
    font-family: HenriDidot;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 400px;
    vertical-align: middle;
    line-height: 400px;
}

.newsbox {
    background-color: red;
    position: relative;
    overflow: hidden;
}

.newsbox:before {
    position: relative;
    content: "";
    display: block;
    padding-top: 100%;
}

.footer.newsbox:before {
    position: relative;
    content: "";
    display: block;
    padding-top: 50%;
}

.footer.newsbox .page-footer .row:first-child {
    position: relative;
    display: flex;
    padding-top: 0;
    top: 0;
}

.footer.newsbox .page-footer .row:last-child {
    position: relative;
    display: flex;
    top: 0;
    padding-top: 0;
}

.margin-50 {
    margin-top: -50%;
}

.newsbox .row:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.newsbox .row:last-child {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.bblue {
    background-color: blue;
}

.carousel-indicators.indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 25px;
    border: none;

}

.carousel-caption {
    height: 50%;
}

@media (min-width: 768px) {
    .carousel-caption-md {
        padding-top: 3rem;
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    .carousel-caption-lg {
        height: 33%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

.carousel-caption h5 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3rem;
    padding-top: 12.5%;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .carousel-caption-md h5 {
        font-size: 28px!important;
        padding-top: 0rem;
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    .carousel-caption-lg h5 {
        font-size: 2vw!important;
        padding-bottom: 3rem;
    }
}

.carousel-caption p {
    font-family: 'Merriweather', serif;
    margin-bottom: 0.3rem;
}

.carousel-caption {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
}

.titlebox {
    overflow: hidden;
    max-height: 480px;
}

.t-first:after {
    content: "";
    position: absolute;
    margin-right: -100%;
    width: 0;
    height: 0;
    display: block;
    top: 35px;
    left: -24px;
    border: 12px solid transparent;
    border-right-color: white;
}

.t-second:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    top: 35px;
    left: 100%;
    border: 12px solid transparent;
    border-left-color: white;
    z-index: 200;
}

#start-wave {
    position: absolute;
    z-index: 900;
    left: 0;
    bottom: -6px;
}

#end-wave {
    position: absolute;
    z-index: 900;
    left: 0;
    top: -6px;
}

.titleBox h2 {
    font-family: "Merriweather Sans", sans-serif;
    color: black;
    font-size: 16px;
}

.titleBox h3 {
    font-family: "Merriweather", serif;
    font-size: 14px;
    color: #7c7c7c;
}

.titleBox h4 {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 14px;
    color: #7c7c7c;
}

@media (min-width: 768px) {
    .titlebox-md h2 {
        font-size: 20px!important;
    }
}

@media (min-width: 992px) {
    .titlebox-lg h2 {
        font-size: 1.5vw!important;
    }
}

.newsbox a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.stndrdbox {
    width: 100px;
    height: 100px;
    background-color: red;
}

.pauseBox h2 {
    color: white;
    font-size: 28px;
    font-family: "merriweather sans", sans-serif;
}

.pauseBox h3 {
    color: white;
    font-size: 16px;
    font-family: "merriweather sans", sans-serif;
    font-weight: light;
    text-align: center
}

.pauseBox .form-group .form-control-lg {
    background-color: #9cb2c7;
    color: white;
    border: 2px solid white;
    font-family: "merriweather", serif;
}

.pauseBox .form-group .form-control-lg:focus {
    border: 2px solid rgb(208, 221, 233);
    outline: none;
}

.pauseBox .form-group .form-control-lg::placeholder {
    color: rgb(241, 241, 241);
}

@media (min-width: 768px) {
    .carousel-caption-md h5 {
        font-size: 28px!important;
        padding-top: 0rem;
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    .pauseBox-lg > .d-flex > .animated {
        width: 25%!important;
    }
}

@media (min-width: 992px) {
    .pauseBox-lg > .d-flex > .form-group > .form-control-lg {
        width: 40vw!important;
    }
}

.page-footer div div h5 {
    font-family: "merriweather sans", sans-serif;
    font-size: 30px;
}

.page-footer div div p {
    font-family: "merriweather", sans-serif;
    font-size: 20px;
    padding-bottom: 42.5%;
}

.page-footer div div li a {
    font-family: "merriweather", sans-serif;
    font-size: 20px;
    line-height: 2;
    color: gray;
}